<h1>form-reactive works!</h1>

<hr>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="saveForm()">

  <div class="container">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu nombre" formControlName="nombre"
          [class.is-invalid]="nombreInvalido">
        <small class="form-text text-danger" *ngIf="nombreInvalido">El nombre debe tener al menos 3 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu apellido" formControlName="apellido"
          [class.is-invalid]="apellidoInvalido">
        <small class="form-text text-danger" *ngIf="apellidoInvalido">Indica un apellido</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Validez</label>
      <div class="col-8">
        <input class="form-control" type="date" placeholder="Escribe tu validez" formControlName="validez"
          [class.is-invalid]="validezInvalido">
        <small class="form-text text-danger" *ngIf="validezInvalido">Indica una validez</small>
      </div>
    </div>

    <!-- formGroupName="direccion" ATENTO AL formGroupName -->
    <div class="form-group row" formGroupName="direccion">
      <label class="col-2 col-form-label">Dirección</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu calle" formControlName="calle"
          [class.is-invalid]="calleInvalido">
      </div>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu ciudad" formControlName="ciudad"
          [class.is-invalid]="ciudadInvalido">
      </div>
    </div>



    <div class="form-group row">
      <button type="submit" class="btn btn-block btn-primary">Enviar</button>
    </div>
  </div>

</form>

<div class="container">
    <h1>Carnet:</h1>
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0">
      <img class="card-img-top" src="assets/image/marcial.jpg" alt="Card image cap">
    </div>
    <div class="card-block px-2">
      <h5 class="card-title">{{this.forma.value.nombre}} {{this.forma.value.apellido}}</h5>
      <p class="card-text">{{this.forma.value.validez}}</p>
      <p class="card-text">{{this.forma.value.direccion.calle}}</p>
      <p class="card-text">{{this.forma.value.direccion.ciudad}}</p>
    </div>
    <div class="w-100"></div>
    <!-- <div class="card-footer w-100 text-muted">
      FOOTER
    </div> -->
  </div>
</div>
<div>
  <p>{{this.forma.status}}</p>
  <p>{{this.forma.value | json}}</p>
</div>
